body {
    background: url(https://wallpaperaccess.com/full/668672.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100%;
    background-size: cover;
    width: 100%;
    height: 100%;
}
header{
    padding-top: none;
    display: flex;
    text-align: center;
    background-color:( black);
}
.TurnStatus{
    font-size: 50px;
    color: green;
}
h1{
    height: auto;
    width: 100%;
    background-color: black;
    color: silver;
    font-size: 35px;
    padding-bottom: 10px;
}
section.GridSection{
    display: flex;
    justify-content: center;
    padding: 30px;
}
#grid-container{
    display: flex;
    grid-template-columns: (3);
    grid-template-rows: (3);
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
}
.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    width: 75px;
    height: 75px;
    text-align: center;
}
.NameSection{
    display: flex;
    justify-content: space-evenly;
}
.Name1{
    color: aquamarine;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    text-align: center;
}
.Name2{
    color: plum;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    text-align: center;
}
img{
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: 150px;
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
footer {
    display: flex;
    justify-content: center;
}
button.reset-button{
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    max-height: 60px;
    max-width: 75px;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    width: 100%;
}
.X::before{
    text-align: center;
    content: "X";
    color: aquamarine;
    font-size: 100px;
}
.O::before{
    text-align: center;
    content: "O";
    color: plum;
    font-size: 100px;
}